@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Teko", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.973);
  background-color: #161616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  margin: 0px;
}

#root {
  height: 100vh;
}

/* ------------- Others ------------- */
#Tech img {
  transition: 500ms;
}

.card {
  background-color: #2e2e2e;
}

#Tech img:hover {
  transform: scale(1.15);
}

.fade-in {
  animation: 0s fade-in ease-in;
}

.fade-in-long {
  animation: 3s fade-in ease-in;
}

.slide-in-right {
  animation: 1s slide-in-right ease-out;
}

.slide-in-left {
  animation: 1s slide-in-left ease-out;
}

.slide-in-bottom {
  animation: 0.5s slide-in-bottom ease-out;
}

.slide-in-top {
  animation: 0.5s slide-in-top ease-out;
}

.links {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
  align-items: flex-end;
  grid-row: 3/4;
  gap: 6px;
}

.icon {
  max-width: 30px;
}

.socials img {
  transition: 250ms;
}
.socials img:hover {
  transform: scale(1.2);
}

.nav-item:hover .hidden.md\:inline {
  display: inline;
}

/* one div items */

.arrow-1-up {
  --size: 24px;
  --color: currentColor;
  --animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
  --animation-duration: 2s;
  position: relative;
  width: var(--size);
  height: var(--size);
  overflow-y: hidden;
}

.arrow-1-up::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color);
  clip-path: polygon(
    0% 50%,
    50% 0%,
    100% 50%,
    75% 50%,
    75% 100%,
    25% 100%,
    25% 50%,
    0% 50%
  );
  transform: translateY(-100%);
  animation: var(--animation-timing-function) var(--animation-duration) infinite
    arrow-1-up-animation;
}
.arrow-1-down {
  --size: 24px;
  --color: currentColor;
  --animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
  --animation-duration: 2s;
  position: relative;
  width: var(--size);
  height: var(--size);
  overflow-y: hidden;
}

.arrow-1-down::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color);
  clip-path: polygon(
    0% 50%,
    50% 100%,
    100% 50%,
    75% 50%,
    75% 0%,
    25% 0%,
    25% 50%,
    0% 50%
  );
  transform: translateY(-100%);
  animation: var(--animation-timing-function) var(--animation-duration) infinite
    arrow-1-down-animation;
}

@keyframes arrow-1-down-animation {
  0% {
    transform: translateY(-100%);
  }

  45% {
    transform: translateY(0%);
  }

  55% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes arrow-1-up-animation {
  0% {
    transform: translateY(100%);
  }

  45% {
    transform: translateY(0%);
  }

  55% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes hide-text {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes curs {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@media screen and (min-width: 600px) {
  .portfolio {
    display: grid;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .card {
    background-color: #e9e9e9;
  }

  .ext {
    filter: invert();
  }
}
